{% extends 'survey/base.html' %}

{% block content %}
<div id="indicator" class="ui">
  <div class="ui text loader">Loading</div>
</div>
<div class="ui very segment">
  <h2>Chart</h2>
  
    <div style="display:flex;gap:2em;justify-content: center;align-items: center;" class="ui centered placeholder segment">
      <select class="ui dropdown" name="section" id="section"
        hx-on="
        htmx:beforeRequest:htmx.addClass(htmx.find('#indicator'),'active dimmer')
        
        htmx:afterRequest:htmx.removeClass(htmx.find('#indicator'),'active')
        htmx:afterRequest:htmx.removeClass(htmx.find('#indicator'),'dimmer')
              "
        hx-post="{% url 'chart' id=form.tenant.id formid=form.id %}"
        hx-target="#chart"
        hx-select="#chart"
        hx-swap="outerHTML">
        <option selected disabled></option>
        {% for val in form.tenant.section_set.all %}
        <option value="{{val.name}}">{{val.name}}</option>
        {% endfor %}
      </select>
      <div class="" style="display:flex;gap:2em;justify-content: space-evenly;align-items: center;">
        <div style="height: 200px; width: 300px;" class="ui segment">
          <h1>1</h1>
        </div>
        <div style="height: 200px; width: 300px;" class="ui segment">
          <h1>1</h1>
        </div>
        <div style="height: 200px; width: 300px;" class="ui segment">
          <h1>1</h1>
        </div>
        <div style="height: 200px; width: 300px;" class="ui segment">
          <h1>1</h1>
        </div>
      </div>
    </div>
    <br />
    <div class="ui divider"></div>
    <br />
    <div style="gap:2em" id="chart" class="ui two column centered grid">
      {% for chart in charts %}
        <div class="ui wide segment">{{ chart|safe }}</div>
      {% endfor %}
    </div>
    <br><br>
  </div>
{% endblock %}