<div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Employee Status</h5>                    
      <div class="center aligned header">{{i.label.1}}</div>                    
      <h2 style="color:lightgreen" class="ui green tag center aligned"><i class="fa-solid fa-heart-circle-check"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.1}}</h3>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Employee Status</h5>                    
      <div class="center aligned header">{{i.label.2}}</div>                    
      <h2 style="color:lightsalmon" class="ui green tag center aligned"><i class="fa-solid fa-people-robbery"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.2}}</h3>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Employee Status</h5>                    
      <div class="center aligned header">{{i.label.3}}</div>                    
      <h2 style="color:lightcoral" class="ui green tag center aligned"><i class="fa-solid fa-people-robbery"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.3}}</h3>
    </div>
  </div>
  {% endif %}
  {% if i.cleanname == 'LaptopStatus' %}
  <div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Laptop Status</h5>                    
      <div class="center aligned header">{{i.label.0}}</div>                    
      
      <h2 style="color:lightgreen" class="ui green tag center aligned"><i class="fa-solid fa-laptop"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.0}}</h3>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Laptop Status</h5>                    
      <div class="center aligned header">{{i.label.1}}</div>                    
      <h2 style="color:lightslategray" class="ui green tag center aligned"><i class="fa-solid fa-laptop"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.1}}</h3>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Laptop Status</h5>                    
      <div class="center aligned header">{{i.label.2}}</div>                    
      <h2 style="color:lightsalmon" class="ui green tag center aligned"><i class="fa-solid fa-laptop"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.2}}</h3>
    </div>
  </div>              
  {% endif %}
  {% if i.cleanname == 'MobileStatus' %}
  <div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Mobile Status</h5>                    
      <div class="center aligned header">{{i.label.0}}</div>                    
      
      <h2 style="color:lightslategrey" class="ui green tag center aligned"><i class="fa-solid fa-mobile-screen-button"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.0}}</h3>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Mobile Status</h5>                    
      <div class="center aligned header">{{i.label.1}}</div>                    
      <h2 style="color:lightgreen" class="ui green tag center aligned"><i class="fa-solid fa-mobile-screen-button"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.1}}</h3>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h5 style="color: #95989d;" class="center aligned">Mobile Status</h5>                    
      <div class="center aligned header">{{i.label.2}}</div>                    
      <h2 style="color:lightsalmon" class="ui green tag center aligned"><i class="fa-solid fa-mobile-screen-button"></i></h2>
      <h3 style="color: lightslategrey;" class="center aligned">{{i.value.2}}</h3>
    </div>
  </div>              