{% extends 'survey/base.html' %}

{% block content %}
  <div style="padding: 1em;" class="ui very">
    <h2>Form Details </h2>

    <div class="ui">
      <div class="ui grid very container">
        <div class="four wide column">
          <div class="ui big label">Week Number : {{ form.week.number }}</div>
        </div>
        <div class="four wide column">
          <div class="ui big label">
            Status :{% if form.status == 'o' %}
              Open
            {% else %}
              Closed
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />    
      <div class=""></div>
      {% if data|length > 0 %}
      <a style="margin-top: 1em;margin-bottom: 1em;" class="ui green right floated button" href="{% url 'weekdownload' id=tenant.id formid=form.id %}">Export <i class="fa-solid fa-file-csv"></i></a>  
      {% endif %}

    <table class="ui celled blue striped compact small table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Section</th>
        {% for head in headers %}
          <th>{{ head }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
          <tr>                        
              {% for i in d %}              
                <td>{{ i }}</td>                                                          
              {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
